<div class="ps-3 navbar indigo darken-3 mud-elevation-25" style="box-shadow: -5px 4px 6px rgba(255, 215, 0, 0.8), -2px 1px 3px rgba(255, 215, 0, 0.6);">
    <div class="container-fluid">
        <a class="navbar-brand m-0" href="" style="color: #FFFF00 !important;">
            <MudIcon Icon="@Icons.Material.Filled.Pets" class="mr-3"></MudIcon>
            DoggyPedia
        </a>
        <button title="Navigation menu" class="navbar-toggler text-white" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon" style="background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 30 30\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 1)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E')"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable indigo" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <MudExpansionPanel Class="rounded" Style="background-color: rgba(255,255,255,0.25); color: white;">
                <TitleContent>
                    <div class="d-flex" style="margin: -10px;">
                        <MudIcon Icon="@Icons.Material.Filled.Assignment" class="mr-3"></MudIcon>
                        <MudText><strong>Razas</strong></MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <NavLink class="nav-link" href="addbreed">
                        <span class="oi oi-plus" aria-hidden="true"></span> Agregar raza
                    </NavLink>
                    <NavLink class="nav-link" href="breeds">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Razas de perros
                    </NavLink>
                </ChildContent>
            </MudExpansionPanel>
        </div>
        <div class="nav-item px-3">
            <MudExpansionPanel Class="rounded" Style="background-color: rgba(255,255,255,0.25); color: white;">
                <TitleContent>
                    <div class="d-flex" style="margin: -10px;">
                        <MudIcon Icon="@Icons.Material.Filled.Pets" class="mr-3"></MudIcon>
                        <MudText><strong>Perros</strong></MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <NavLink class="nav-link" href="adddog">
                        <span class="oi oi-plus" aria-hidden="true"></span> Agregar Perro
                    </NavLink>
                    <NavLink class="nav-link" href="doglist">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Perros
                    </NavLink>
                </ChildContent>
            </MudExpansionPanel>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private MudTheme Theme = new MudTheme();
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private bool isMenuOpen = true;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
        if (!isMenuOpen)
        {
            // Acciones adicionales cuando se cierra el menú
            // Por ejemplo, restablecer el estado de tu aplicación
        }
    }

    private void CloseMenu()
    {
        isMenuOpen = false;
    }
}
