@page "/doglist"
@using DogBreedApp.Client.Services
@using DogBreedApp.Client.Services.Interfaces;
@using DogBreedApp.Shared.DTO
@inject IDogService DogService

<h3>Dog List</h3>
<MudDataGrid Items="_dogs">
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Nombre" />
        <PropertyColumn Property="x => x.Sex" Title="Sexo" />
        <PropertyColumn Property="x => x.BreedName" Title="Raza" />
        <PropertyColumn Property="x => x.BirthDate" Title="Fecha nacimiento" />
    </Columns>
</MudDataGrid>

@code {
    private List<DogDto> _dogs = new();

    protected override async Task OnInitializedAsync()
    {
        _dogs = await DogService.GetDogsAsync();
    }
}
